<div class="p-2">
  <div class="flex justify-between items-center">
    <h1>Trips planned</h1>
    <button class="bg-blue-100 color-black rounded-md border-none h-7 w-20 text-sm cursor-pointer"  onclick="window.location.href='<%= request.path %>?show_modal=true'" >
      Add trip
    </button>
  </div>
</div>
<div>
  <table class="w-full table-fixed">
    <thead class="text-left bg-gray-100 ">
      <tr>
        <th class="py-2 pl-4">Title </th>
        <th> Date </th>
        <th class="w-20"> </th>
      </tr>
    </thead>
    <tbody>
      <% if @trips.present? %>
        <% @trips.each_with_index do |trip, index| %>
          <tr class=<%= index % 2 != 0 && "bg-gray-50 " %>>
            <td class="pl-4"><%= link_to trip.title, trip  %></td>
            <td><%= trip.date.present? ? trip.date.strftime(t('date.formats.default')) : '--' %></td>
            <td class: "rounded-lg py-3 px-5 my-1 inline-block font-medium"><%= button_to 'Delete', trip_path(trip), method: :delete,  data: { confirm: "Are you sure?" } %> </td>
            </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% if params[:show_modal] == "true" %>
    <div id="modal-overlay" class="fixed top-0 left-0 w-full h-full bg-black/30 flex justify-center items-center" >
      <div id="modal-content" class="bg-white p-5 w-120 h-60 rounded-[15px]">
        <div>
        <h2 class="m-0 mt-[5px] pb-5" >New Trip</h2>
        <form action="/trips" method="post" style="display: inline">
          <div class="h-30">
            <label for="title">Title</label><br>
            <input class="w-full box-border mb-2.5" name="title" title="Title" /><br>
            <label  for="date">Date</label><br>
              <input class="w-full box-border" type="date" name="date" title="Date" />
          </div> 
          <div class="text-right">
            <button class="bg-[#9fcee9] rounded-[5px] text-white border-none h-7 w-20 text-sm cursor-pointer" onclick="window.location.href='/'">Cancel</button>
            <button class="bg-[#9fcee9] rounded-[5px] text-white border-none h-7 w-20 text-sm cursor-pointer" type="submit">Create</button>
          </div> 
          </form>
        </div> 
      </div>
    </div>
  <% end %>
</div>
