<div>
  <div class="flex my-5 mx-2 justify-between items-center">
    <h1 class="text-2xl text-blue-900" > <%= @trip.title %> </h1>
    <div class="m-2">
    <button class="bg-blue-100 text-blue-900 rounded-md border-none h-7 w-20 text-sm cursor-pointer" onclick="window.location.href='/'">Go Back</button>
    <button class="bg-blue-100 text-blue-900 rounded-md border-none h-7 w-20 text-sm cursor-pointer"  onclick="openModal()">
      Add plan
    </button>
    </div>
  
  </div>
  <table class="w-full table-fixed">
    <thead class="text-left bg-gray-100 ">
      <tr>
        <th class="py-2 pl-4">Title </th>
        <th> Date </th>
        <th> Hotel </th>
        <th> Budget </th>
        <th> Description </th>
        <th class="w-20"> </th>
      </tr>
    </thead>
    <tbody>
      <% if @plans.present? %>
        <% @plans.each_with_index do |plan, index| %>
          <% if plan.title.present? %>
          <tr id="plan-<%= plan.id %>" class=<%= index % 2 != 0 && "bg-gray-50 " %>>
            <td class="pl-4"><%= link_to plan.title, plan  %></td>
            <td><%= plan.date.present? ? plan.date.strftime(t('date.formats.default')) : '--' %></td>
            <td><%= plan.hotel %></td>
            <td><%= plan.budget %></td>
            <td><%= plan.description %></td>
            <td class: "rounded-lg py-3 px-5 my-1 inline-block font-medium">
              <button onclick="removePlan(<%= plan.id  %>)" class="rounded-lg py-2 px-5 my-1 inline-block font-medium cursor-pointer">
                <%=  image_tag("/images/trash.svg")  %>
              </button>
            </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div id="modal_create_plan" data-resource-license=""  class="min-w-full mt-3 hidden">
    <%= render :partial => 'modal_create_plan' %>
  </div>

</div>


<script>

  function openModal() {
    const modal = document.getElementById('modal_create_plan')
    modal && modal.classList.remove('hidden')
  }

  function removePlan(planId) {
    if(planId) {
      fetch(`/plans/${planId}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
      })
      .then(response => {
        if (response.ok) {
          document.getElementById(`plan-${planId}`).remove();
          alert('Plan removed!');
        } else {
          alert('Could not remove plan');
        }
      }).catch((error) => {
        console.log(error, 'error')
      })
    } else  {
      alert('not valid');
    }
  }
</script>
