<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Travel Itinerary" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div style="display:flex;justify-content:space-between;align-items:center;background-color:lightblue;margin:-8px;padding:8px;border-bottom:1px lightgray solid">
      <h2>Travel planning</h2>
      <form action="/users/sign_out" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button type="submit">Logout</button>
      </form>
      </div>
     
      <%= yield %>
  </body>
</html>
