<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Travel Itinerary" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag  "turbo" ,type: "module" %>
  </head>

  <body>

    <div class="bg-blue-900 flex justify-between items-center p-2 border-b border-solid" >
      <h2 class="text-white">Travel planning</h2>
      <form action="/users/sign_out" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="text-white" type="submit">Logout</button>
      </form>
      </div>
     
      <%= yield %>
  </body>
</html>
